.login-window {
  width: 25%;
  margin: 0 auto;

  h1 {
    text-align: center;
  }
}

#signInButton {
  margin: 0 auto;
  margin-top: 3%;
  width: 60%;
}

@media screen and (max-width: 800px) {
  .login-window {
    width: 60%;
  }
}

@media screen and (max-width: 720px) {
  .login-window {
    width: 80%;
  }
}
