@import '/src/variables.scss';

#logoutModal {
  position: relative;
}

.modal-overlay {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: #00000080;
}

.modal-window {
  margin: 0 auto;
  margin-top: 12%;
  color: #000;
  border: none;
  border-radius: 10px;
  width: 600px;
  background-color: #fff;
  z-index: 10000;

  animation-duration: 0.1s;
  animation-name: modal-slidein;

  .modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 18px;
    border-bottom: solid #8a8a8a 1px;

    .modal-title {
      margin: 0;
      font-size: large;
    }

    .modal-close-button {
      width: 20px;
      height: 20px;
    }
  }

  .modal-content {
    padding: 30px 40px;
    height: max-content;
  }
}

.modal-button {
  border: none;
  border-radius: 4px;
  display: block;
  padding: 1%;
  font-size: large;
  transition: background-color 0.1s linear;
  color: #fff;
  width: 100%;
  height: 45px;
}

#logoutHeader {
  margin-top: 0;
  text-align: center;
}

#logoutButton {
  background-color: $danger-color;

  &:hover {
    background-color: lighten($danger-color, 5%);
  }
}

#stayButton {
  margin-top: 5px;
  background-color: $primary-color;

  &:hover {
    background-color: lighten($primary-color, 5%);
  }
}

@media screen and (max-width: 720px) {
  .logout-modal {
    width: 20%;
  }
}

@keyframes modal-slidein {
  from {
    margin-top: 0;
  }

  to {
    margin-top: 12%;
  }
}
